{{!-- The following component displays Ember's default welcome message. --}}
{{!welcome-page}}
{{!-- Feel free to remove this! --}}

{{outlet}}

<footer id="info">
  <p>Double-click to edit a todo</p>
</footer>
